<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Jack Brown rocks!</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.7/js/esri/css/esri.css">
    <style>
      html, body, #map {
        height: 100%; width: 100%; margin: 0; padding: 0;
      }
    </style>

    <script src="https://js.arcgis.com/3.7/"></script>
    <script>

    function decodeJSON(encodedJSON) {
        var decodedJSON = $('<div/>').html(encodedJSON).text();
        return $.parseJSON(decodedJSON);
    }

      var map;

      require([
        "esri/map",
        "esri/geometry/Point",
        "esri/symbols/SimpleMarkerSymbol",
        "esri/graphic",
        "esri/layers/GraphicsLayer",
        "dojo/domReady!"
      ], function(
        Map, Point, SimpleMarkerSymbol, Graphic, GraphicsLayer
      ) {
        map = new Map("map", {
          basemap: "streets",
          center: [-88.21,42.21],
          zoom: 3
        });
        map.on("load", function() {
            //coordarr = {{ coordarr }}
            //alert(coordarr);
        arrx = {{ coordarrx }};
         arry = {{ coordarry }};
            var ArrayLength = arrx.length - 1;
        for (var i = 1; i <= ArrayLength; i++){
          var gl = new GraphicsLayer();
          var p = new Point(arrx[i], arry[i]);
              var s = new SimpleMarkerSymbol().setSize(20);
              var g = new Graphic(p, s);
              gl.add(g);
              map.addLayer(gl);
                }
        });

      });
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
<div class="container">
    <br><br><br>
    <h1>Malicious Locations:</h1>
    {% for n in malarr %}
        <p>{{n}}</p>
        {% endfor %}
    <br><br><br>
</div>
</html>